body {
    padding: 0;
    margin: 0;
    background-color: #009dff;
    overflow: hidden;
}

.linkTree {
    height: 100vh;
    padding: 0;
    background-image: url("./assets/background.png");
    background-size: cover;
    overflow: hidden;
}

.gerbang {
    width: 46.875vw;
    height: 28.454vh;
    position: absolute;
    top: 4.918vh;
    left: 26.667vw;
}

.content {
    height: 82.67vh;
    width: 100vw;
    background-color: #EDF2F4;
    position: absolute;
    top: 17.33vh;
    border-top-left-radius: 10.417vw;
    border-top-right-radius: 10.417vw;
    overflow: hidden;
}

.logo {
    width: 53.958vw;
    position: absolute;
    left: 22.917vw;
    top: 2.927vh;
}

.selogan {
    position: absolute;
    left: 28.333vw;
    top: 14.52vh;
    width: 43.333vw;
    height: 3.63vh;
}

.buttonLink {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2.576vh;
    left: 10.833vw;
    top: 21.546vh;
}

.buttonTree {
    width: 79.375vw;
    height: 9.133vh;
    border: 0.417vw solid #1467C3;
    border-radius: 10.417vw;
}

.kontak {
    position: absolute;
    top: 56.674vh;
    display: flex;
    align-items: center;
    gap: 2.708vw;
    left: 16.667vw;
}

.kontakAdmin {
    font-family: "Montserrat", sans-serif;
    font-size: 2.917vw;
    font-weight: 600;
    color: #101010;
}

hr {
    width: 20vw;
    border: none;
    border-top: 0.417vw dotted #C1121F;
}

.buttonKontak {
    display: flex;
    position: absolute;
    left: 16.292vw;
    top: 61.944vh;
    gap: 2.917vw;
    z-index: 4;
}

.buttonKontakAdmin {
    width: 31.458vw;
    height: 5.738vh;
    border: 0.417vw solid #1467C3;
    border-radius: 10.417vw;
}

.ombak {
    position: absolute;
    display: flex;
    gap: 25.833vw;
    left: -12vw;
    top: 62.5vh;
}

.ombakAset {
    width: 48.958vw;
    height: 21.546vh;
}

.kiri {
    transform: rotateY(180deg)
}

a {
    text-decoration: none;
    color: #101010;
}

.buttonTree {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3.75vw;
}

.isiButton {
    display: flex;
    align-items: center;
    gap: 3.75vw;
    position: relative;
    left: 20.208vw;
}

.text {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #101010;
    font-size: 4.167vw;
}

.icon {
    width: 6.875vw;
    height: 6.875vw;
}

.isiKontak {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.667vw;
    padding-top: 0.5vh;
    justify-content: center;
}

.text2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #101010;
    font-size: 3.017vw;
}

.iconWa {
    width: 4.583vw;
    height: 4.583vw;
}